<div>
  Body:
  <%= comment.body %>
</div>

<div>
  Ticket:
  <%= comment.ticket.name %>
</div>

<div>
  Owner:
  <%= comment.owner.email %>
</div>

<div>
  State:
  <%= comment.state.name %>
</div>

<div>
  Updated:
  <%= comment.updated_at.to_s(:db) %>
</div>
