<div>
  Body:
  <%= comment.body %>
</div>

<div>
  Ticket:
  <%= comment.ticket.name %>
</div>

<div>
  Owner:
  <%= comment.owner.email %>
</div>

<div>
  State:
  <%= comment.previous_state.name == comment.state.name ? \
      comment.state.name : \
      "#{comment.previous_state.name} to #{comment.state.name}" %>
</div>

<div>
  Updated:
  <%= time_ago_in_words(comment.updated_at) %>
  ago
</div>
