<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div>
      <h2>
        <%= pluralize(comment.errors.count, "error") %>
            prevented this comment from being saved:
      </h2>
      
      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :ticket_id %>
    <%= f.text_field :ticket_id %>
  </div>

  <div>
    <%= f.label :owner_id %>
    <%= f.text_field :owner_id %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
