<h1>Comments</h1>

<div><%= link_to 'Create Comment', new_ticket_comment_path(@ticket) %></div>

<% @comments.each do |comment| %>
  <%= render comment %>
  
  <div>
    <%= link_to 'Show', [@ticket, comment] %> |
    <%= link_to 'Edit', edit_ticket_comment_path(@ticket, comment) %> | 
    <%= link_to 'Destroy', @ticket, method: :delete,
          data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
