<h1>Tickets</h1>

<% if ! tickets.empty? %>
  <div class="section">
    <%= link_to 'Create Ticket', new_project_ticket_path(project) %>
  </div>
<% end %>

<% tickets.each_with_index do |ticket, index| %>
  <div class="section">
    <%= render ticket %>
    <div>
      <%= link_to 'Show', [project, ticket] %>
      <% if ticket.owner?(current_user) %>
        | <%= link_to 'Edit', edit_project_ticket_path(project, ticket) %>
        | <%= link_to 'Destroy', [project, ticket], method: :delete,
                      data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
