<div>
  Name:
  <%= ticket.name %>
</div>

<div>
  Description:
  <%= ticket.description %>
</div>

<div>
  Project:
  <%= ticket.project.name %>
</div>

<div>
  Owner:
  <%= ticket.owner.email %>
</div>

<div>
  State:
  <%= ticket.state.name %>
</div>
