<div>
  Name:
  <%= ticket.name %>
</div>

<div>
  Description:
  <%= ticket.description %>
</div>

<div>
  Project:
  <%= ticket.project.name %>
</div>

<div>
  Owner:
  <%= ticket.owner.email %>
</div>

<div>
  State:
  <%= ticket.state.name %>
</div>

<div>
  Tags:
  <% if ! tags.empty? %>
    <% tags.each do |tag| %>
      <%= link_to tag.name %>
      (<%= link_to "remove", ticket_tag_path(ticket, tag),
                   method: :delete %>)<%= ", " unless tag == tags.last %>
    <% end %>
  <% else %>
    none
  <% end %>
</div>

<div>
  Watchers:
  <% if ! watchers.empty? %>
    <%= watchers.map(&:email).join(", ") %>
  <% else %>
    none
  <% end %>
</div>
