<div>
  Name:
  <%= ticket.name %>
</div>

<div>
  Description:
  <%= ticket.description %>
</div>

<div>
  Project:
  <%= ticket.project.name %>
</div>

<div>
  Owner:
  <%= ticket.owner.email %>
</div>

<div>
  State:
  <%= ticket.state.name %>
</div>

<div>
  Tags:
  <% if ! ticket.tags.empty? %>
    <%= ticket.tags.map do |tag| %>
      <% link_to tag.name %>
    <% end.join(' | ').html_safe %>
  <% else %>
    none
  <% end %>
</div>
