<h1>Tickets</h1>

<div><%= link_to 'Create Ticket', new_project_ticket_path(@project) %></div>

<% @tickets.each do |ticket| %>
  <%= render 'ticket', ticket: ticket %>
  
  <div>
    <%= link_to 'Show', [@project, ticket] %> |
    <%= link_to 'Edit', edit_project_ticket_path(@project, ticket) %> | 
    <%= link_to 'Destroy', [@project, ticket], method: :delete,
          data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
