<h1>Ticket</h1>

<%= render ticket, tags: ticket.tags %>
<div>
  <%= render 'footer', project: project %>
  <% if ticket.owner?(current_user) %>
    | <%= render 'actions_owner', project: project, ticket: ticket %>
  <% end %>
</div>

<%= render 'comments/index', ticket: ticket, comments: ticket.comments %>

<h3>Create Comment</h3>

<%= render 'comments/form', ticket: ticket, comment: comment %>
