<h1>Projects</h1>

<div><%= link_to 'Create Project', new_project_path %></div>

<% @projects.order("created_at desc").each do |project| %>
  <%= render 'project', project: project %>
  
  <div>
    <%= link_to 'Show', project %>
    <% if user_signed_in? && project.owner?(current_user) %>
      | <%= link_to 'Edit', edit_project_path(project) %>
      | <%= link_to 'Destroy', project, method: :delete,
            data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
