<h1>Projects</h1>

<% if user_signed_in? %>
  <div><%= link_to 'Create Project', new_project_path %></div>
<% end %>

<% @projects.each do |project| %>
  <div>
    Name:
    <%= project.name %>
  </div>
  
  <div>
    Description:
    <%= project.description %>
  </div>
  
  <div>
    Owner:
    <%= project.owner.email %>
  </div>
  
  <div>
    <%= link_to 'Show', project %>
    <% if user_signed_in? %>
      | <%= link_to 'Edit', edit_project_path(project) %>
      | <%= link_to 'Destroy', project, method: :delete,
            data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
