<h1>Project</h1>

<%= render project %>
<div>
  <%= render 'footer' %>
  <% if project.owner?(current_user) %>
    | <%= render 'actions_owner', project: project %>
  <% end %>
</div>

<%= render 'tickets/index', project: project, tickets: project.tickets %>

<h3>Create Ticket</h3>

<%= render 'tickets/form', project: project, ticket: ticket %>
